@charset "UTF-8";
body{
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
h1{
    color: darkgreen;
}
h2{
    color: darkblue;
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
}
.basico{
    color: green;
    font-weight: bold;
}
.intermediario{
    color: yellow;
    font-weight: bolder;
}
.avancado{
    color: red;
    font-weight: bolder;
}
.destaque{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 500px;
}